.moz-reader-content {
    code p {
        display: contents;
    }

    code:has(span) {
        display: block;
        white-space: pre-wrap;
    }

    code,
    pre {
        font-family: "JetBrains Maple Mono Syntax", monospace;
    }
}

::selection {
    background: #75c4eb5c;
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=1559152 */
.devtools-monospace,
.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like,
.eager-evaluation-result {
    font-family: monospace !important;
}

@font-face {
    font-family: "Segoe UI Emoji";
    src: local("Noto Color Emoji");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Microsoft YaHei UI";
    src: local("思源黑体");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "SimSun";
    src: local("思源宋体");
    font-weight: normal;
    font-style: normal;
}